@{
    ViewBag.Title = "DevSolutions";
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Css/FrmInicio.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Usuarios</td>
                    <td>Técnicos</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>